.info--background {
  border: 2px solid #707070;
  background: url(../img/bubblesBottom.svg) no-repeat bottom left,
    url(../img/bubblesTop.svg) no-repeat top right;
  background-size: 40%, 50%;
}

.menu-info--bottom-right {
  position: absolute;
  float: right;
  right: 20px;
  bottom: calc(60px - 100vh);
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;

  &__grid {
    display: grid;
    grid-gap: 50px 82px;
    text-align: center;
    flex: 1;
    max-width: 90%;
    justify-content: space-evenly;

    &__items {
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 20px -15px 6px #00000070;
      border-radius: 67px;
      opacity: 1;
      justify-content: space-evenly;
      max-width: 450px;
    }

    &__pics {
      max-width: 250px;
      max-height: 80%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
    span {
      display: block;
      margin-bottom: 10%;
    }
  }
}

#box__grid__items__follow {
  grid-column: 1;
  grid-row: 1;
}
#box__grid__items__train {
  grid-column: 2;
  grid-row: 1;
}
#box__grid__items__activities {
  grid-column: 3;
  grid-row: 1;
}
#box__grid__items__analyze {
  grid-column: 1;
  grid-row: 2;
}
#box__grid__items__notify {
  grid-column: 2;
  grid-row: 2;
}
#box__grid__items__motivation {
  grid-column: 3;
  grid-row: 2;
}

/* moblie phones*/
@media only screen and (max-width: 480px) {
  .box {
    max-width: 100%;
    max-height: 100%;

    &__grid {
      display: flex;
      flex-direction: column;
      grid-gap: 20px;
      text-align: center;
      height: 85%;
      max-width: 70%;
      &__items {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100px;
      }
      &__pics {
        max-height: 80px;
        margin: 0;
      }
      span {
        margin: 0;
        float: right;
        width: 60%;
      }
    }
  }
}
