.info--background {
  border: 2px solid #707070;
  background: url(../img/bubblesBottom.svg) no-repeat bottom left, url(../img/bubblesTop.svg) no-repeat top right;
  background-size: 40%, 50%;
}

.menu-info--bottom-right {
  position: absolute;
  float: right;
  right: 20px;
  bottom: calc(60px - 100vh);
}
#box{
  max-width: 80%;
  min-width: 20%;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-gap: 100px 164px;
  grid-row-gap: 100px;
  grid-column-gap: 164px;
  text-align: center;
  top: 50%;
}

.items{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 20px -15px 6px #00000070;
  border-radius: 67px;
  opacity: 1;
  text-align: center;
  max-height: 373px;
  max-width: 373px;
  height: auto;
  width: auto;
  overflow: auto;
  overflow-x: hidden;
}

#follow{
  grid-column: 1;
  grid-row: 1;
}

#train{
  grid-column: 2;
  grid-row: 1;
}
#activities{
  grid-column: 3;
  grid-row: 1;
}
#analyze{
  grid-column: 1;
  grid-row: 2;
}
#notify{
  grid-column: 2;
  grid-row: 2; 
}
#motivation{
  grid-column: 3;
  grid-row: 2; 
}

.pics{
  max-width: 350px;
  max-height: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

p{
  margin-bottom: 10.7%;
}
