.main-view--background {
  background: url(../img/main-view/logoShadow.svg) no-repeat center,
    url(../img/main-view/circles.svg) no-repeat center,
    url(../img/main-view/trianglesBottom.svg) no-repeat left bottom,
    url(../img/main-view/trianglesTop.svg) no-repeat left top,
    url(../img/main-view/strips.svg) no-repeat center,
    transparent linear-gradient(245deg, #037be9ba 0%, #f700cabd 100%) 0% 0%
      padding-box no-repeat;
  background-size: 30% auto, auto, 30% auto, 30% auto, auto, 100% auto;
}

.main-view--topmenu {
  position: absolute;
  right: 1.5rem;
  top: 1.25rem;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.025em;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.main-arrow--bottom-center {
  position: absolute;
  bottom: 0;
  left: calc(50% - 40px);
}

.slide-top {
  -webkit-animation: slide-top 1.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 1.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-bottom {
  -webkit-animation: slide-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@media only screen and (max-width: 768px) {
  .main-view--topmenu {
    display: flex;
    justify-content: center;
    position: relative;
    top: 1rem;
    right: 0;
  }
}
