@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'variables';
@import 'fonts';
@import 'animations';

html {
    scroll-behavior: smooth;
    overflow: hidden;

    input[type=text], input[type=password] {
        background: rgba(0, 0, 0, 0);
        border: none;
        box-shadow: none;
        outline: none;
        border-bottom: 4px solid pink;
    }
}

#root {
    height: 400vh;
    font-family: $font-family;
}

.display-none {
    display: none;
}

.view--full-height {
    height: 100vh;
}

.main-view--background {
    background: url(../img/main-view/logoShadow.svg) no-repeat center, url(../img/main-view/circles.svg) no-repeat center,  url(../img/main-view/trianglesBottom.svg) no-repeat left bottom,  url(../img/main-view/trianglesTop.svg) no-repeat left top, url(../img/main-view/strips.svg) no-repeat center, transparent linear-gradient(245deg, #037BE9BA 0%, #F700CABD 100%) 0% 0% padding-box no-repeat;
    background-size: 30% auto, auto, 30% auto, 30% auto, auto, 100% auto;
}

.text--shadow {
    font-weight: 400;
    text-shadow: 0px 3px 6px #000;
}

.arrow--bottom-center {
    position: absolute;
    bottom: 0;
    left: calc(50% - 40px);
}

.slide-top {
	-webkit-animation: slide-top 1.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-top 1.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-bottom {
	-webkit-animation: slide-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.menu--bottom-right {
    position: relative;
    float: right;
    right: 20px;
    bottom: calc(170px - 100vh);
}

.info--background {
    border: 2px solid #707070;
    background: url(../img/bubblesBottom.svg) no-repeat bottom left, url(../img/bubblesTop.svg) no-repeat top right;
    background-size: 40%, 50%;
}

.login-register--background {
    @extend .info--background;
}

.login-register--header {
    font-size: $header-size;
    color: $header-color;
    text-align: center;
}

.login__input--text {
    font-size: $input-size;
    color: $input-color;
}

.register__input--text {
    @extend .login__input--text;
}

.login-register__input--danger {
    border-bottom: 3px red solid;
    box-shadow: 0 0 5px 5px red;
    outline: none;
}

.login-register__input--focus {
    border-bottom: 3px blue solid !important;
    box-shadow: 0 4px 5px -2px blue !important;
    outline: none;
}

.contact--background {
    border: 2px solid #707070;
    background: url(../img/contact/bubblesBottom.svg) no-repeat bottom left, url(../img/contact/bubblesTop.svg) no-repeat top right;
    background-size: contain, 60%;
}