$font-family: 'Segoe UI', sans-serif;

$header-size: 3.125em;
$header-color: #000000AD;

$input-size: 1.4375em;
$input-color: #534D4DBF;

$text-size: 1.25em;
$text-color: #000000AD;

$md-text-size: 1.5em;
$bg-text-size: 1.875em;